
  <!-- {{template "header.tmpl.html"}} -->
  <!-- {{template "nav.tmpl.html"}} -->
	<!DOCTYPE html>
	<html>
	<head>
		<!-- Material Design -->
		<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<!-- Start -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">

	  <title>SLCPL Branches</title>
		<link rel="shortcut icon" type="image/png" href="/static/favicons.png"/>

		<!-- Stylesheets -->
	  <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
	  <link rel="stylesheet" href="https://js.arcgis.com/4.10/dijit/themes/claro/claro.css">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <style>
	    html, body {
	      padding: 0;
	      margin: 0;
	      height: 100%;
	      width: 100%;
	      overflow: hidden;
	    }
	    #viewDiv {
	      position: absolute;
	      left: 0;
		  	width: 60%;
	      top: 0;
	      bottom: 0;
	      height: 100%;
	    }
			#panel {
	      position: absolute;
	      right: 0;
	      height: 100%;
	      width: 40%;
	    }
			.mdc-tab-bar {
				/* width:600px; */
		    overflow: auto;
		    /* position:relative; */
		    /* height: 300px; */
			}
	  </style>

		<!-- Load ArcGIS API and Chart.js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	  <script src="https://js.arcgis.com/4.10/"></script>

		<script>
	    require([
	      "esri/WebMap",
	      "esri/views/MapView",
	      "esri/widgets/LayerList",
	      "esri/core/watchUtils"
	    ], function(WebMap, MapView, LayerList, watchUtils) {
	      // Load a web map in a 2D MapView
	      const map = new WebMap({
	        portalItem: {
	    			id: "fc4545a75c79404f92daa3e7f26f7ae9"
	        }
	      });

	      const view = new MapView({
	        container: "viewDiv",
	        map: map,
	        popup: {
	          dockEnabled: true,
	          dockOptions: {
	            breakpoint: false
	          }
	        }
	      });

	      // helper function for returning a layer instance
	      // based on a given layer title
	      function findLayerByTitle(title) {
	        return view.map.allLayers.find(function(layer) {
						if (layer.title === title)
						return layer.title === title;
	        });
	      }
				// helper function for formatting number labels with commas
	      function numberWithCommas(value) {
	        value = value || 0;
	        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	      }

	      // When the view loads, set up UI elements
	      let layerList, predominanceLayer;
				let chart, totalCount;

	      view.when(function() {
	        predominanceLayer = findLayerByTitle(
	          "2010 Salt Lake City Census Tracts");
	        predominanceLayer.outFields = ["*"];

	        // view.whenLayerView(predominanceLayer).then(function(layerView) {
	        //   // Update the pie chart after the user stops panning or zooming
	        //   watchUtils.whenTrue(view, "stationary", function(val) {
	        //     watchUtils.whenFalseOnce(layerView, "updating",
	        //       function(val) {
	        //         console.log(val);
	        //         queryLayerViewStats(layerView).then(function(
	        //           newData) {
	        //           updateChart(newData);
	        //         });
	        //       });
	        //   });
	        // });

					// Listen to the click event on the map view.
					view.on("click", function(event) {
						view.hitTest(event).then(function(response) {
					    // check if a feature is returned from the hurricanesLayer
					    // do something with the result graphic
					    const graphic = response.results.filter(function(result) {
					      return result.graphic.layer === predominanceLayer;
					    })[0].graphic;

							// const educationFields = ["P0020002", "P0020005", "P0020006",
				      //     "P0020007", "P0020008", "P0020009", "P0020010", "P0010010",
				      //     "P0010011", "P0010012", "P0010013", "P0010014", "POP100"
				      //   ];
							const newData = (({ P0020002, P0020005, P0020006, P0020007, P0020008, P0020009, P0020010, P0010011, P0010012, P0010013, P0010014 }) => ({ P0020002, P0020005, P0020006, P0020007, P0020008, P0020009, P0020010, P0010011, P0010012, P0010013, P0010014 }))(graphic.attributes);
							// newData = {values: newData};
							// console.log(newData);
							// console.log(Object.values(newData));
							// let chart, totalCount;
							totalCount = graphic.attributes.POP100;
							const title = numberWithCommas(totalCount) + " people total";

							// console.log(response.results);

							if (!chart) {
			          // get the canvas element created in the LayerList
			          // and use it to render the chart
			          const canvasElement = layerList.operationalItems.find(function(
			            item) {
			            return predominanceLayer.title === item.title;
			          }).panel.content[1];

			          chart = new Chart(canvasElement.getContext("2d"), {
			            type: "doughnut",
			            data: {
			              labels: ["Hispanic or Latino", "White",
			                "Black or African American", "American Indian or Alaska Native	",
			                "Asian", "Native Hawaiian or Other Pacific Islander",
			                "Other Race", "White & Black or African American", "White & American Indian or Alaska Native",
											"White & Asian", "White & Native Hawaiian or Other Pacific Islander"
			              ],
			              datasets: [{
			                label: "Population by educational attainment",
			                backgroundColor: ["#9e549c", "#f789d8", "#149dcf",
			                  "#ed5050", "#ffde3e", "#a6c736", "#b7804a",
			                  "#fc9220", "#9e9e9e", "#42f4ee", "#1ff231"
			                ],
			                borderColor: "rgb(255, 255, 255)",
			                borderWidth: 1,
			                data: Object.values(newData)
			              }]
			            },
			            options: {
			              responsive: true,
			              cutoutPercentage: 35,
			              // Not an ArcGIS legend instance. This legend
			              // is constructed for the pie chart, not the
			              // features in the view, though the colors match
			              // the colors of the features displayed in the map view
			              legend: {
			                position: "bottom"
			              },
			              title: {
			                display: true,
			                text: title
			              },
			              tooltips: {
			                // define custom callback to format data values with commas and %
			                callbacks: {
			                  label: function(tooltipItem, data) {
			                    const dataIndex = tooltipItem.index;
			                    const value = data.datasets[0].data[dataIndex];
			                    const percentage = totalCount > 0 ? Math.round((
			                      value / totalCount) * 100) : 0;
			                    return numberWithCommas(value) + " (" +
			                      percentage + "%)";
			                  }
			                }
			              }
			            }
			          });
			        } else {
			          chart.options.title.text = title;
			          chart.data.datasets[0].data = Object.values(newData);
			          chart.update();
			        }
							// console.log(chart);
  					});
					});

	        // Add a LayerList instance to the view with
	        // custom text and a canvas element in the list item panel
	        // for rendering a chart to display query results

	        layerList = new LayerList({
	          view: view,
	          container: document.createElement("div"),
	          listItemCreatedFunction: function(event) {
	            const item = event.item;

	            // add the pie chart to the Predominance layer list item panel
	            if (item.title === predominanceLayer.title) {
								// item.title = "Population Pie Chart";
	              item.panel = {
	                content: [
	                  [
	                    "<b>Population Breakdown:</b><p>Composition of races and ethnicities of the different Salt Lake City census tracts.</p>"
	                  ].join(""),

	                  document.createElement("canvas"),

	                  // [
	                  //   "Notice that while one attainment level appears to dominate certain regions, it doesn't ",
	                  //   "necessarily mean it represents the majority of the population. In fact, as ",
	                  //   "you explore most areas, you will find the predominant educational attainment makes up ",
	                  //   "just a fraction of the population due to the number of categories considered."
	                  // ].join("")
	                ],
	                className: "esri-icon-pie-chart",
	                open: item.visible
	              };
	            }
	          }
	        });
	        layerList.container.style = "height: 100%";
	        let panelDiv = document.getElementById("panel");
	        panelDiv.appendChild(layerList.container);
	      });

	      // Query the layer view for statistics on each education variable in the layer
	      // function queryLayerViewStats(layerView) {
				//
	      //   const educationFields = ["P0020002", "P0020005", "P0020006",
	      //     "P0020007", "P0020008", "P0020009", "P0020010", "P0010010",
	      //     "P0010011", "P0010012", "P0010013", "P0010014", "POP100"
	      //   ];
				//
	      //   // Creates a query object for statistics of each of the fields listed above
	      //   const statDefinitions = educationFields.map(function(fieldName) {
	      //     return {
	      //       onStatisticField: fieldName,
	      //       outStatisticFieldName: fieldName + "_TOTAL",
	      //       statisticType: "sum"
	      //     };
	      //   });
				//
	      //   // query statistics for features only in view extent
	      //   const query = layerView.layer.createQuery();
	      //   query.outStatistics = statDefinitions;
	      //   query.geometry = view.extent;
				//
	      //   // query features within the view's extent on the client
	      //   return layerView.queryFeatures(query).then(function(response) {
	      //     const stats = response.features[0].attributes;
				//
	      //     const updatedData = [
	      //       stats.EDUC01_CY_TOTAL, // no school
	      //       stats.EDUC02_CY_TOTAL, // preschool
	      //       stats.EDUC03_CY_TOTAL, // some elementary
	      //       stats.EDUC04_CY_TOTAL + stats.EDUC07_CY_TOTAL, // elementary
	      //       stats.EDUC05_CY_TOTAL, // some secondary
	      //       stats.EDUC06_CY_TOTAL + stats.EDUC08_CY_TOTAL, // secondary
	      //       stats.EDUC09_CY_TOTAL + stats.EDUC11_CY_TOTAL, // high school
	      //       stats.EDUC10_CY_TOTAL + stats.EDUC12_CY_TOTAL + stats.EDUC13_CY_TOTAL +
	      //       stats.EDUC14_CY_TOTAL + stats.EDUC15_CY_TOTAL, // college
	      //       stats.EDUC16_CY_TOTAL // not specified
	      //     ];
				//
	      //     // data used to update the pie chart
	      //     return {
	      //       total: stats.EDUCA_BASE_TOTAL, // total population 12+
	      //       values: updatedData
	      //     };
	      //   });
	      // }

	      // Create a chart to display in a LayerList panel
	      // The chart is created using the Chart.js library
	      // let chart, totalCount;
				//
	      // function updateChart(response) {
	      //   const newData = response.values;
	      //   totalCount = response.total;
	      //   const title = numberWithCommas(totalCount) + " people (age 12+)";
	      //   if (!chart) {
	      //     // get the canvas element created in the LayerList
	      //     // and use it to render the chart
	      //     const canvasElement = layerList.operationalItems.find(function(
	      //       item) {
	      //       return predominanceLayer.title === item.title;
	      //     }).panel.content[1];
				//
	      //     chart = new Chart(canvasElement.getContext("2d"), {
	      //       type: "doughnut",
	      //       data: {
	      //         labels: ["No school", "Preschool",
	      //           "Incomplete Elementary", "Elementary",
	      //           "Incomplete Secondary", "Secondary",
	      //           "High School", "College", "Not Specified"
	      //         ],
	      //         datasets: [{
	      //           label: "Population by educational attainment",
	      //           backgroundColor: ["#9e549c", "#f789d8", "#149dcf",
	      //             "#ed5050", "#ffde3e", "#a6c736", "#b7804a",
	      //             "#fc9220", "#9e9e9e"
	      //           ],
	      //           borderColor: "rgb(255, 255, 255)",
	      //           borderWidth: 1,
	      //           data: newData
	      //         }]
	      //       },
	      //       options: {
	      //         responsive: false,
	      //         cutoutPercentage: 35,
	      //         // Not an ArcGIS legend instance. This legend
	      //         // is constructed for the pie chart, not the
	      //         // features in the view, though the colors match
	      //         // the colors of the features displayed in the map view
	      //         legend: {
	      //           position: "bottom"
	      //         },
	      //         title: {
	      //           display: true,
	      //           text: title
	      //         },
	      //         tooltips: {
	      //           // define custom callback to format data values with commas and %
	      //           callbacks: {
	      //             label: function(tooltipItem, data) {
	      //               const dataIndex = tooltipItem.index;
	      //               const value = data.datasets[0].data[dataIndex];
	      //               const percentage = totalCount > 0 ? Math.round((
	      //                 value / totalCount) * 100) : 0;
	      //               return numberWithCommas(value) + " (" +
	      //                 percentage + "%)";
	      //             }
	      //           }
	      //         }
	      //       }
	      //     });
	      //   } else {
	      //     chart.options.title.text = title;
	      //     chart.data.datasets[0].data = newData;
	      //     chart.update();
	      //   }
	      // }

	      // helper function for formatting number labels with commas
	      // function numberWithCommas(value) {
	      //   value = value || 0;
	      //   return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	      // }

	    });
	  </script>

	</head>

	<body class="claro">

	  <div id="viewDiv"></div>

		<div id="panel">

			<div class="mdc-tab-bar" role="tablist">
			  <div class="mdc-tab-scroller">
				<div class="mdc-tab-scroller__scroll-area">
				  <div class="mdc-tab-scroller__scroll-content">
					<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
					  <span class="mdc-tab__content">
						<span class="mdc-tab__icon material-icons" aria-hidden="true">domain</span>
						<!-- <span class="mdc-tab__text-label"></span> -->
					  </span>
					  <span class="mdc-tab-indicator mdc-tab-indicator--active">
						<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
					  </span>
					  <span class="mdc-tab__ripple"></span>
					</button>

					<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
					  <span class="mdc-tab__content">
						<span class="mdc-tab__icon material-icons" aria-hidden="true">ac_unit</span>
						<!-- <span class="mdc-tab__text-label"></span> -->
					  </span>
					  <span class="mdc-tab-indicator mdc-tab-indicator--active">
						<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
					  </span>
					  <span class="mdc-tab__ripple"></span>
					</button>

					<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
					  <span class="mdc-tab__content">
						<span class="mdc-tab__icon material-icons" aria-hidden="true">voicemail</span>
						<!-- <span class="mdc-tab__text-label"></span> -->
					  </span>
					  <span class="mdc-tab-indicator mdc-tab-indicator--active">
						<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
					  </span>
					  <span class="mdc-tab__ripple"></span>
					</button>

					<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
					  <span class="mdc-tab__content">
						<span class="mdc-tab__icon material-icons" aria-hidden="true">bug_report</span>
						<!-- <span class="mdc-tab__text-label"></span> -->
					  </span>
					  <span class="mdc-tab-indicator mdc-tab-indicator--active">
						<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
					  </span>
					  <span class="mdc-tab__ripple"></span>
					</button>

					<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
					  <span class="mdc-tab__content">
						<span class="mdc-tab__icon material-icons" aria-hidden="true">waves</span>
						<!-- <span class="mdc-tab__text-label"></span> -->
					  </span>
					  <span class="mdc-tab-indicator mdc-tab-indicator--active">
						<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
					  </span>
					  <span class="mdc-tab__ripple"></span>
					</button>

					<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
					  <span class="mdc-tab__content">
						<span class="mdc-tab__icon material-icons" aria-hidden="true">filter_vintage</span>
						<!-- <span class="mdc-tab__text-label"></span> -->
					  </span>
					  <span class="mdc-tab-indicator mdc-tab-indicator--active">
						<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
					  </span>
					  <span class="mdc-tab__ripple"></span>
					</button>

					<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
					  <span class="mdc-tab__content">
						<span class="mdc-tab__icon material-icons" aria-hidden="true">gradient</span>
						<!-- <span class="mdc-tab__text-label"></span> -->
					  </span>
					  <span class="mdc-tab-indicator mdc-tab-indicator--active">
						<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
					  </span>
					  <span class="mdc-tab__ripple"></span>
					</button>

					<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
					  <span class="mdc-tab__content">
						<span class="mdc-tab__icon material-icons" aria-hidden="true">adbohuh</span>
						<!-- <span class="mdc-tab__text-label"></span> -->
					  </span>
					  <span class="mdc-tab-indicator mdc-tab-indicator--active">
						<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
					  </span>
					  <span class="mdc-tab__ripple"></span>
					</button>
					</div>
				</div>
			  </div>
			</div>

		</div>

	</body>

	<script>
		mdc.ripple.MDCRipple.attachTo(document.querySelector('.foo-button'));
		// const tabBar = new MDCTabBar(document.querySelector('.mdc-tab-bar'));
	// Get accordion elements and add click listeners to all
	// var acc = document.getElementsByClassName("accordion");
	// for (var i = 0; i < acc.length; i++) {
	// 	acc[i].addEventListener("click", function() {
	// 		// Get panel element
	// 		var panel = this.nextElementSibling;
	// 		// Collapse if it's already expanded
	// 		if (panel.style.maxHeight) {
	// 			this.classList.toggle("active");
	// 			panel.style.maxHeight = null;
	// 		}
	// 		// Expand and collapse all others
	// 		else {
	// 			this.classList.toggle("active");
	// 			panel.style.maxHeight = panel.scrollHeight + "px";
	// 			for (var j = 0; j < acc.length; j++) {
	// 				if (acc[j] === this) { continue; }
	// 				else if (acc[j].nextElementSibling.style.maxHeight) {
	// 					acc[j].classList.toggle("active");
	// 					acc[j].nextElementSibling.style.maxHeight = null;
	// 				}
	// 			}
	// 		}
	// 	});
	// }
	</script>

	</html>
